.container {
  color: white;
  margin: 40px;
}

.tweets {
  margin: 30px;

}

img {
  height: 400px;
  width:auto;
}

html {
  background:url('../images/friendship-black-stars-sky.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loading {
  position: relative;
  top: 30%;
  left: 30%; 
  color: white;
}

form label {
  color: white;
}

#post_tweets {
  margin: 2%;
}

.tweeting {
  position: relative;
  top: 30%;
  left: 30%; 
  color: white;
}
