<form id="post_tweets" action="/new_tweet" method="post">
  <label for="tweet_field">Like, just enter your opinion, man</label>
  <textarea name="tweet_field" id="compose" cols="50" rows="5"></textarea>
  <input type="submit" value="The Dude Abides">
</form>

<div class="tweeting">
    <h2>Tweeting...</h2>
    <img src="/images/thedude.gif" alt="">
  </div>
</div>

